flask
python-dotenv
gunicorn
flask-cors
flask-sqlalchemy
flask-migrate
flask-wtf
flask-mail
pymysql
flask-sqlalchemy[asyncio]
flask-sqlalchemy[gevent]
flask-sqlalchemy[threading]
flask-sqlalchemy[gevent_websocket]
flask-sqlalchemy[gevent_uwsgi, eventlet]